.woo-body {
    background-color: #221534;
    color: white;
    font-family: Inter, sans-serif;
    text-align: center;
    /* width: 400px; */
}

.woo-block {
    text-align: left;
    margin-bottom: 30px;
}

.woo-gray {
    color: lightgray
}

.woo-heading {
    font-size: 120%;
    font-weight: 700;
    margin-bottom: 10px;
}

.woo-list {
    margin-left: 20px;
}

.woo-table {
    margin-left: 10px;
    margin-right: 10px;
}

.woo-first-col {
    font-size: 90%;
}

.woo-last-col {
    text-align: right;
    font-weight: bold;
}

.woo-orange {
    color: #df6319;
}